body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;


    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column; 
}

h2, label, input, button, #mensaje {
    margin: 3px;
    text-align: center;
}

.cuadro {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}